
$primary: #56B0AF;
$primary-5: #EBFFFF;
$primary-10: #D9F3F6;
$primary-20: #B2E7ED;
$primary-30:#C7E3E3;
$primary-50: #9fd8d8;
$primary-80:#3BB6D5;
$primary-light: #DEFBFC;
$primary-900: #CDE8E7;
$primary-dark-900:#7CCBDD;
$primary-dark-300:#005072;
$primary-dark: #263E52;
$secondary: #FFAE30;
$dark-100: #494949;
$gray:#C4C4C4;
$gray-light:#EEEEEE;
$labal-color:#717171;
