.section-5 .content-wrapper {
    min-height: 460px;
}

@media(max-width:360px){
    .grouped-vectors{
        width: 100%;
    }
}
@media(max-width:375px){
    .grouped-vectors{
        width: 100%;
    }
}

@media (max-width: 992px) {
     .section-5 .content-wrapper {
        min-height: fit-content !important;
    }
}
