.section-4 .grouped-vectors {
    transform: translateY(80px);
}

.section-4 .year-vector-right-box img{
    transform: translateX(-109px)  !important;
}
.section-4 .year-vector-right-box{
    top: 30%;
}

@media (max-width: 992px) {
    .section-4 .grouped-vectors {
        transform: unset !important;
    }
}